

@font-face {
    font-family: Chronicle Display;
    src: url("../fonts/ChronicleDisplay/ChronicleDisplay-Semibold.otf");
    src: url("../fonts/ChronicleDisplay/ChronicleDisplay-Semibold.ttf");
    src: url("../fonts/ChronicleDisplay/ChronicleDisplay-Semibold.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy/Gilroy-Medium.otf");
    src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
    src: url("../fonts/Gilroy/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy/Gilroy-Bold.otf");
    src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
    src: url("../fonts/Gilroy/Gilroy-Bold.woff");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
    src: url("../fonts/Gilroy/Gilroy-ExtraBold.ttf");
    src: url("../fonts/Gilroy/Gilroy-ExtraBold.woff");
    font-weight: 800;
    font-display: swap;
}









body{
    background-color: #0B1D26;
    background-image: url(../img/bg.jpg);   
    background-size: 100% auto;
    background-position: top, center, bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.no-scroll{
    overflow: hidden;
}
.h1,
.h2,
.logo{
    font-family: Chronicle Display, sans-serif;
    font-style: normal;
    font-weight: 700;
}
.container{
    max-width: 1462px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.scale:active, a:focus{outline: none;}
.account .acc_photo{
    height: 20px;
    width: 20px;
}

   /**Header Page**/

   
header{
    padding: 0 15px;
}

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
.menu ul{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.menu li{
    margin-right: 40px;
    
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
}
.menu a:hover{
    color: #FBD784;
}
.logo{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-right: 160px;
}
.account span{
    font-family: Gilroy;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: -20px;
    margin-left: 30px;
    display: block;
    -webkit-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
}
.account span:hover{
    color: #FBD784;
}
.account a{
    text-decoration: none;
}
button{
    display: none;
    height: 25px;
    padding: 0;
    border: none;
    background: none;
    z-index: 8;
}
.button{
    width: 42px;
    height: 5px;
    background-color: #FFFFFF;
    border: none;
    display: block;
    position: relative;
}
.button::before{
    content: "";
    width: 42px;
    height: 5px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 0;
}
.button::after{
    content: "";
    width: 42px;
    height: 5px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    top: 10px;
    right: 0;
}
.button-close .button{
  background-color: transparent;
}
.button-close .button::before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 35px;
}
.button-close .button::after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 35px;
}
.mobile_menu{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: rgb(11, 29, 38, 0.9);
    padding: 70px 70px 50px 30px;
}
.mobile_menu .menu,
.mobile_menu .account{
    display: block;
}
.mobile_menu .menu ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
}
.mobile_menu .menu ul li{
    margin-bottom: 25px;
    margin-left: 36px;
}
.header_top{
    width: 100%;
    height: auto ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px
}
.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 69px;
    margin-top: 127px;
}
.social p{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: -27px;
    margin-bottom: 52px;
}
.social a{
    margin-bottom: 30px;
}
.scale{
    margin-top: 63px;
    margin-left: auto;
    margin-right: 41px;
    margin-bottom: 36px;
}
.scale .start{
   margin-left: -12px;
}
.scale a{  
    text-decoration: none;
    color: #FFFFFF;
    font-family: Gilroy; 
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: block;
    text-align: center;
    width: 60px;
    height: 64px;
    color: #FFFFFF;
    -webkit-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
    cursor: pointer;
}
.scale a:hover{
    color: #FBD784;
}
.scale::after{
    content: "";

}
input[type=range]{ 
    -webkit-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
            transform: rotate(90deg);
    margin-top: 165px;
    margin-right: -50px;
    margin-left: -156px;
    width: 245px;
    height: 3px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: rgba(255, 255, 255, 0.5);
}
.cursor::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 3px;
    height: 60px;
    margin-left: 25px;
    background: #FFFFFF;    
    opacity: 1;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.title-text{
    width: 54%;
    margin-top: 40px;
    margin-left: auto;
    line-height: 100px;
    z-index: 6;
}

.title-text h1{
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 30px;
}
.navigation{
    margin: 32px 0px;
}
.navigation a{
    font-family: Gilroy;
    font-weight: 700;
    -webkit-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
    text-decoration: none;
}
.navigation a:hover{
   color: #FBD784;
}
.nav{
    color: #FFFFFF;
    font-size: 20px;
    margin-top: -20px;
    position: relative;
    cursor: pointer;
}
.nav::after{
    display: block;
    content: "";
    position: absolute;
    left: 114%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 26px;
    background-image: url(../img/nav1.svg);
    background-repeat: no-repeat;
}



/*Main Page*/

.main{
    margin-top: 644px;
}

.footer .container{
    max-width: 1462px;
}
.article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    color: #FFFFFF;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 200px;
    height: 720px;
    
}
.text{
    padding-left: 131px;
    padding-top: 69px;
    max-width: 576px;
    margin-right: 114px;
    position: relative;
}
.text::before{
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   content: "01";
   font-family: Gilroy;
   font-style: normal;
   font-weight: bold;
   font-size: 240px;
   line-height: 240px;
   color: #FFFFFF;
   opacity: 0.1
}
.article:nth-child(2) .text::before{
   display: block;
   position: absolute;
   left: 0;
   content: "02";
   font-family: Gilroy;
   font-style: normal;
   font-weight: bold;
   font-size: 240px;
   line-height: 240px;
   color: #FFFFFF;
   opacity: 0.1
}
.article:nth-child(3) .text::before{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "03";
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFF
}
.article:nth-child(2) .text{
   margin-left: 114px;
   margin-right: auto;
}
.subtitle{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    position: relative;
    margin-bottom: 18px;
    margin-top: 42px;
    padding-left: 105px;
}
.subtitle::before{
    content: "";
    position: absolute;
    left: 18px;
    top:50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.container .title{
    max-width: 632px;
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 27px;
    margin-left: 18px;
}
.text p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 33px;
}
.link{
    display: inline-block;
    position: relative;
    font-family: Gilroy;
    font-weight: 700;
    padding-right: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    text-decoration: none;
    -webkit-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
}
.link:hover{
    color: #FFFFFF;
}
.link::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(../img/nav2.svg);
    background-repeat: no-repeat;
}
.article:nth-child(2){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

/*Footer Page*/

.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 96px;
    color: #FFFFFF;
}
.column-one{
    margin-right: 326px;
}
.column-two{
    margin-right: 20px;
}
.column-one .footer-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 145px;
    width: 303px;
}
.copyright{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;  
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: -60px;
}
.column .logo{
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}
.column h3{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin-bottom: 24px;
}

.column-two ul{
    list-style: none;
    padding-left: 0;
}
.column-two ul li{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 22px;
}
.column-two ul li a{
    text-decoration: none;
    color: #FFFFFF;
    transition: ease-in-out 300ms;
}
.column-two ul li a:hover{
    color: #FBD784;
}
.column-three h3{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
}
.column-three ul{
    list-style: none;
    padding-left: 0;
}
.column-three ul li{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 22px 
}
.column-three ul li a{
    text-decoration: none;
    color: #FFFFFF;
    transition: ease-in-out 300ms;
}
.column-three ul li a:hover{
    color: #FBD784;
}




@media only screen and (max-width: 1200px){
     
    .main{
        margin-top: 310px;
    }
    .text{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        padding-left: 0;
        margin-right: 0;
        padding-top: 43px;
    }
    .article:nth-child(2) .text {
        margin-left: auto;
    }
    .container{
        max-width: 100%;
    } 
    .container .title{
        font-size: 64px;
        line-height: 76px;
        margin-left: 54px;
        margin-top: -5px;
    }
    
}

@media only screen and (max-width: 1180px){
    
    .container .title{
        font-size: 64px;
    }
    .container .article .thumnail img{
        width: 88%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 84px;
        margin-left: 20px;
    }
    .article{
        margin-bottom: 51px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
    }
    .link{
       font-size: 16px;
       float: right;
    }
    .main{
        margin-top: 420px;
    }
    .text::before{
        left: -78px;
        top: -18px;
    }
    .article:nth-child(2) .text::before{
        left: -78px;
        top: -18px;
    }
    .article:nth-child(3) .text::before{
        left: -78px;
        top: -18px;
    }
    .container .title{
        margin-left: 0;
    }
    .footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        padding-bottom: 30px;    
    }
    .column-two{
        margin-right: 0;
    }
    .height{
        height: 751px;
    }
    .column-one .footer-text {
        margin-left: auto;
        margin-right: auto;
    }
    .column-one{
        margin-bottom: -80px;
        margin-right: 0;
    }
    .copyright{
        -webkit-box-ordinal-group: 7;
            -ms-flex-order: 6;
                order: 6;
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
}

@media only screen and (max-width: 800px){
    
    .height{
        height: 745px;
    }
    .logo{
        margin-left: 0;
    }
    .menu,
    .account{
        display: none;
    } 
    .header{
        margin-left: 0;
        margin-right: 0;
        padding-top: 22px;
    }
    button{
        display: block;
        margin-left: -15px;
    }
    .mobile_menu_active{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 7;
    }
    .title-text{
        width: 72%;
        margin-left: -50px;
        margin-top: -45px;
        line-height: 20px;
    }
    .title-text .subtitle{
        margin-left: -97px;
        margin-top: 42px;
    }
    .subtitle::before{
        top: 51%;
        left: 8%;
        width: 48px;
    }
    .title-text h1{
        line-height: 62px;
        font-size: 52px;
    }
    .social{
        margin-left: 0;
        margin-top: 401px;
    }
    .slider{
        margin-top: 324px;
    }
    .scale {
        margin-left: auto;
        margin-top: 326px;
        margin-right: 0;
    }
    input[type=range]{ 
        margin-top: 422px;
        margin-right: -92px;
        margin-left: -121px;
    }
    .container{
        max-width: 75%;
    }
    .main{
        margin-top: 85px;
    }
    .footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0;
        margin-left: 0;
        text-align: left;
    }
    .column-one .footer-text {
        margin-left: 0;
        margin-right: 0;
    }
    .column-one{
        margin-bottom: -80px;
    }
    .column-two li a{
        text-decoration: none;
    }
    .copyright{
        -webkit-box-ordinal-group: 7;
            -ms-flex-order: 6;
                order: 6;
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
}

@media only screen and (max-width: 700px){

    .subtitle::before {
        left: 10%;
    }
    .height{
        height: 530px;
    }
    .column div{
        margin-left: 0;
        margin-bottom: 24px;
    }
    .column{
        line-height: 32px;
    }
    .column h3{
        margin-bottom: 24px;
    } 
    .text{
        margin-top: 30px;
        margin-left: 0;
    }
    .text::before{
        font-size: 156px;
        left: 3px;
    }  
    .header_top{
        margin-top: 50px;
    }
    
    .article:nth-child(2) .text::before {
        font-size: 156px;
        left: 3px;
    }
    .article:nth-child(3) .text::before{
        font-size: 156px;
        left: 3px;
    } 
    .subtitle{
        font-size: 12px;
        line-height: 15px;
    }
    .container .title {
        font-size: 36px;
        line-height: 43px;
    }
    .article:nth-child(2) .text p {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 580px){
     
    
    body{
        background-size: 182% 18%;
    }
    .subtitle::before {
        left: 7%;
    }
    .social {
        margin-left: 0;
        margin-top: 443px;
    }
    .scale{
        margin-top: 380px;
    }
    input[type=range] {
        margin-top: 483px;
    }
    .height{
        height: 560px;
    }
    .container{
        max-width: 100%;
    }
   
}
@media only screen and (max-width: 440px){
    
    body{
        background-image: url(../img/bg.mobile.jpg);
        background-size: 106%;
    }
    .logo{
        margin-left: 33%;
        margin-right: 0;
     }
    .button{
         margin-right: 5px;
     }  
    .mobile_menu .menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
    }
    .title-text{
        margin-top: -20px;
    }
    .title-text .subtitle{
        font-size: 10px;
        letter-spacing: 2.1px;
        margin-left: -113px;
    }
    .title-text .subtitle::before {
        left: 26%;
        top: 122%;
        width: 27px;
        height: 0.7px;
    }       
    .title-text h1 {
        line-height: 50px;
        font-size: 40px;
        margin-top: -10px;
        margin-bottom: 21px;
        margin-left: -10px;
    }
    .nav{
        font-size: 15px;
        margin-left: -10px;
    }
    .social{
        margin-top: 593px;
        margin-left: 18px;
    }
    .scale{
        margin-top: 533px;
    }
    input[type=range] {
        margin-top: 633px;
        margin-right: -119px;
    }
    .main {
        margin-top: 105px;
    }
    .height{
        height: 373px;
    }
    .container{
        margin-left: 16px;
    }   
    .container .title{
        margin-bottom: 20px;
        margin-left: 75px;
        margin-top: 10px;
    }
    .container .article:nth-child(2) .title{
        margin-top: 19px;
        margin-left: 75px;
    }
    .text::before{
        font-size: 156px;
    }
    .article .subtitle{
        font-size: 12px;
        margin-left: 23px;
        margin-top: -34px;
        margin-bottom: 14px;
        padding-left: 102px;
    }
    .article:nth-child(2) .subtitle{
        margin-left: 46px;
        margin-top: -41px;
    }
    .article .subtitle::before {
        width: 40px;
        height: 1.5px;
        left: 12%;
    }
    .article:nth-child(3) .subtitle{
        margin-left: 26px;
        margin-top: -54px;
        margin-bottom: 5px;
    }
    .text::before{
        top: -97px;
        left: -11px;
    }
    .article:nth-child(2) .text::before{
        top: -97px;
        left: -11px;
    }
    .article:nth-child(3) .text::before{
        top: -100px;
        left: -11px;
    }
    .text{
        margin-top: 130px
    }
    .text p{
        width: 328px;
    }
    .text-two::before{
        margin-left: 30px;
    }
    .text-three::before{
        margin-left: 30px;
    }
    .container .article .thumnail img{
        margin-left: 6%
    }
    .subtitle{
        letter-spacing: 4.5px;
    }
    
}

@media only screen and (max-width: 376px){
     
    .logo{
        margin-left: 32%;
    }
    .button{
        width: 28px;
        height: 3px;
    }
    .button::after{
        width: 28px;
        height: 3px;
    }
    .button::before{
        width: 28px;
        height: 3px;
    }
    .title-text{
        margin-top: -38px
    }
    .social{
        margin-top: 567px;
    }
    .scale{
        margin-top: 512px;
    }
    .title-text .subtitle{
        margin-left: -113px;
    }
    .title-text .subtitle::before{
        left: 29%;
        top: 119%;
    }
    .title-text h1{
        width: 136%;
        font-size: 40px;
    }
    .article .subtitle{
        font-size: 12px;
        padding-left: 131px;
        margin-top: -31px;
    }
    .article .subtitle::before {
        left: 21%;
    }
    .article:nth-child(2) .subtitle{
        font-size: 11px;
        margin-top: -37px;
        margin-left: 14px;
    }
    .article:nth-child(2) .text::before{
        font-size: 156px;
        left: 0; 
    }
    .article:nth-child(3) .text::before{
        font-size: 156px;
        top: -107px
    }
    .article:nth-child(2) .text{
        margin-left: 0;
    }
    .article:nth-child(3) .subtitle {
        line-height: 14px; 
        margin-left: 23px;
        margin-top: -54px;
        margin-bottom: 7px;
    }
    .article h2{
        margin-left: 103px;
    }
    .article:nth-child(2) h2{
        margin-left: 13px;
        margin-top: -4px;
    }
    .container .article .thumnail img {
        width: 240px;
        margin-left: 0;
    }
    .container .title{
        margin-left: 0;
        margin-top: 0;
    }
    .container .title:nth-child(2) {
        font-size: 36px;
    }
    .text {
        margin-top: 0px;
        margin-left: 0;
    }
    .text::before{
        left: 0px;
    }
    .link{
        margin-right: 16px;
    }
    .height{
        height: 357px;
    }
    .footer{
        margin-left: -7px;
    }
    input[type=range]{
        margin-top: 612px;
        margin-right: -119px;
        margin-left: -111px;
    }
}

@media only screen and (max-width: 360px){
    
    .social{
        margin-top: 542px
    }
    .scale{
        margin-top: 484px;
    }
    input[type=range]{
        width: 218px;
    }
    .height{
        height: 361px;
    }
    .article .subtitle{
        padding-left: 130px;
    }
    .article .subtitle::before{
        left: 21%;
    }
    .article h2{
        margin-left: 79px;
    }
    .article:nth-child(2) .text::before{
        font-size: 156px;
    }
    .article:nth-child(3) .text::before{
        font-size: 156px;
        top: -107px
    }
    .article:nth-child(3) .subtitle{
        margin-top: -70px;
    }
    input[type=range] { 
        margin-top: 586px;
        margin-right: -119px;
    }
}
